h6 Plantillas OCI
div.btn-group.toolbarTable
  button.btn.btn-default.btnAdd(type="button")
    i.glyphicon.glyphicon-plus
table.myTable(
  id="plantillas-oci",
  data-toggle="table",
  data-cache="false",
  data-click-to-select="true",
  data-height="500",
  data-width="600",
  data-stripped="true",
  data-single-select="true",
  data-search="true",
  data-toolbar="#toolbar",
  data-show-pagination-switch="true",
  data-show-columns="true",
  data-show-export="true",
  data-show-refresh="true",
  data-show-toggle="true",
  data-pagination="true",
  data-search-align="rigth",
  data-buttons-align="right",
  data-toolbar-align="right",
  data-page-size=50,
  data-page-list=[10, 25, 50, 100, 200, 500],
  data-minimum-count-columns=2,
  )
